{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h1>Register</h1>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        {{ form_start(registrationForm) }}
                        <p class="card-text">{{ form_row(registrationForm.username) }}</p>
                        <p class="card-text">{{ form_row(registrationForm.email) }}</p>
                        <p class="card-text"> {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}</p>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Register
                        </button>
                        {{ form_end(registrationForm) }}
                    </div> {# card-body #}
                </div> {# card #}

            </div> {# col #}
        </div> {# row #}
    </div> {# container #}

{% endblock %}
