{% if app.user %}
    <div class="row text-center">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Add a comment </a>
            </p>
        </div>
    </div> {# row #}
    <hr>

    {# Errors #}{#
{% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endfor %} #}

    {# Form  add comment #}
    <div class="row">
        <div class="col-lg-8 col-md-8 mx-auto">
            <div class="collapse" id="collapseExample">
                <div class="form-group">
                    <form action="{{ path('add_comment') }}" method="post">
                        <input class="col-lg-12 col-sm-12 " type="text" id="comment" name="comment" required
                               minlength="3">

                        {# Button send #}
                        <div class="row">
                            <div class="col text-center p-1">
                                <input class="btn btn-primary" type="submit">
                                <input type="hidden" name="trickId" value="{{ trick.id }}"/>
                            </div> {# col #}
                        </div> {# row #}

                    </form>
                </div> {# form-group #}
            </div> {# colapse #}
        </div> {# col #}
    </div> {# row #}

{% endif %}

<br>
{# Comment #}
    {% for comment in trick.comments %}
        <div class="row">

            <div class="col-2 align-self-center text-center">
                {% if comment.user.gravatar != null %}
                    <img src="{{ comment.user.gravatar }}" class="align-self-start mr-0 rounded-circle"
                         style="height: 75px"
                         alt="profile picture of user">
                {% else %}
                    <a href="{{ path('add_gravatar') }}">
                        <img src="https://i.imgur.com/yTFUilP.jpg"
                             class="align-self-start mr-3 rounded-circle"
                             alt="profile picture of user"></a>
                {% endif %}
            </div> {# col #}

            <div class="col-10">
                <div class="card card-white post p-2">
                    <div class="post-heading">
                        <div class="float-left meta">

                            <div class="title h5">
                                <b>{{ comment.user.username }}</b>
                            </div> {# title h5 #}

                            <h6 class="text-muted time">{{ comment.createdAt|date('d-m-Y  H:i') }}</h6>

                        </div> {# float-left #}
                    </div> {# post-heading #}

                    <div class="post-description">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}