{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Editer un trick{% endblock %}


{% block body %}
    <div class="col-lg-7 col-md-10 mx-auto">
        <h1>Modifier le trick : {{ trick.name }}</h1>
        {{ form_start(form) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.mainImage) }}
            <div class="row">
                <div class="col-sm-6">
                    <h3>Main Image</h3>
                    {{ form_errors(form.mainImage.file) }}
                    {{ form_widget(form.mainImage.file) }}
                    {{ form_help(form.mainImage.file) }}
                    <a href="{{ path('image_delete') }}">
                        <button class="favorite styled" type="button">Delete</button>
                    </a>
                </div>
                <br/>
                <div class="col-sm-6">
                    {{ form_errors(form.mainImage.caption) }}
                    {{ form_widget(form.mainImage.caption) }}
                    {{ form_help(form.mainImage.caption) }}
                </div>
            </div>
        </div>

        <h3>Images</h3>
        {{ form_label(form.images) }}
        {{ form_widget(form.images) }}

        <h3>Video</h3>
        {{ form_label(form.videos) }}
        {{ form_widget(form.videos) }}

        <button type="submit" class="btn btn-success btn-lg col-12"><i class="fas fa-check"></i> UPDATE TRICK</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
