{% extends 'base.html.twig' %}

{% block title %}Edit a trick{% endblock %}

{% block body %}

    <script>
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            var $tagsCollectionHolder = $('ul.images');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

            $('body').on('click', '.add_item_link', function (e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass);

                function addFormToCollection($collectionHolderClass) {
                    // Get the ul that holds the collection of tags
                    var $collectionHolder = $('.' + $collectionHolderClass);

                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolder.data('prototype');

                    // get the new index
                    var index = $collectionHolder.data('index');

                    var newForm = prototype;
                    // You need this only if you didn't set 'label' => false in your tags field in TaskType
                    // Replace '__name__label__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    // newForm = newForm.replace(/__name__label__/g, index);

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    newForm = newForm.replace(/__name__/g, index);

                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi = $('<li></li>').append(newForm);
                    // Add the new form at the end of the list
                    $collectionHolder.append($newFormLi)
                }

            })
        });</script>

    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="col-sm">

                    <h1>Edit a trick</h1>

                    {{ form_start(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}

                    <h3>Main Image</h3>
                    {{ form_row(form.mainImage) }}

                    <h3>Images</h3>
                    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {% for image in form.images %}
                            <li>
                                {{ form_row(image) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="images">Add an image
                    </button>

                    <h3>Videos</h3>
                    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                        {% for video in form.videos %}
                            <li>
                                {{ form_row(video) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="videos">Add a video
                    </button>

                    <button class="btn btn-primary">Update Trick</button>
                    {{ form_end(form) }}

                </div> {# col #}
            </div> {# mx-auto #}
        </div> {# row #}
    </div> {# container #}

{% endblock %}