{% extends 'base.html.twig' %}

{% block title %}Edit a trick{% endblock %}

{% block body %}

    {% include '/utils/script_multiple_add.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="col-sm">

                    <h1>Edit a trick</h1>

                    {{ form_start(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}

                    <h3>Main Image</h3>
                    {{ form_row(form.mainImage) }}



                    <h3>Images</h3>
                    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {% for image in form.images %}
                            <li>
                                {{ form_row(image) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="images">Add an image
                    </button>

                    <h3>Videos</h3>
                    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                        {% for video in form.videos %}
                            <li>
                                {{ form_row(video) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="videos">Add a video
                    </button>

                    <button class="btn btn-primary">Update Trick</button>
                    {{ form_end(form) }}

                </div> {# col #}
            </div> {# mx-auto #}
        </div> {# row #}
    </div> {# container #}

{% endblock %}